{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<style>
    .dataTables_wrapper .dataTables_length, 
    .dataTables_wrapper .dataTables_filter, 
    .dataTables_wrapper .dataTables_info, 
    .dataTables_wrapper .dataTables_processing, 
    .dataTables_wrapper .dataTables_paginate {
        font-size: 20px;
        color: #333;
    }
	.col_heading.level0{
		min-width: 90px;
	}
	.row_heading.level0{
		min-width: 40px;
	}
    {{ id_tabela }} th {
        color: black
		padding: 5px;
    }
</style>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript">
var myVariable = {{ id_tabela | tojson }};
$(document).ready( function () {
    $(myVariable).dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Portuguese-Brasil.json"
        },
        });
} );
</script>

<div class="modal fade" id="show-image" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-xs-right" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<h1 class="title">
    <section class="section has-background-link-light">
      <div class="container">
          <nav class="level pl-6 pr-6">
              <div class="level-left">
				    <div class="collumn is-fluid has-text-left is-half">
					  <h3 class="subtitle is-3">Relatório</h3>
					  <h5 class="subtitle is-5">Responsável: {{name}}</h5>
					  <h5 class="subtitle is-5">Nome (ID) da Análise: {{id_report}}</h5>
					  <h5 class="subtitle is-5">Diretório raiz: {{path}}</h5>
				    </div>
			  </div>
  
              <div class="level-right">
                  <div class="collumn is-fluid ">
                    <a href="{{ url_for('main.analysis_down') }}" class="button is-link is-medium is-fullwidth" target="blank">
                      Exportar Análise
                    </a>
                  </div>
              </div>
          </nav>
		  <div class="collumn is-fluid has-text-left pl-6 pr-6">
			<p class="has-text-danger-dark is-size-5">Atenção: <p class="is-size-5"> Os resultados a seguir são fruto de um modelo probabilístico, com objetivo de auxílio em triagem e portanto pode haver falsos positivos e/ou falsos negativos. Favor verificá-los visualmente.</p></p>
		  </div>
      </div>
  </section>
  
