{% extends "base.html" %}

{% block content %}
<h1 class="title">
  <section class="section has-background-link-light">
    <div class="container">
        <nav class="level pl-6 pr-6">
            <div class="level-left">
                <div class="collumn is-fluid has-text-left">
                    <h3 class="subtitle is-3">Relatório</h3>
                    <h5 class="subtitle is-5">Responsável: {{name}}</h5>
                    <h5 class="subtitle is-5">Nome (ID) da Análise: {{id_report}}</h5>
                    <h5 class="subtitle is-5">Diretório raiz: {{path}}</h5>
                </div>
            </div>

            <div class="level-right">
                <div class="collumn is-fluid ">
                    <script>
                        $(function(){
                            $("#input-folder").click(function(event){
                                $.getJSON('/SOdialog', { }, function(data){

                                });
                                return false;
                            });
                        });
                    </script>

                    <a id="analysis_down" class="button has-background-info-dark has-text-white is-fullwidth">Baixar Relatório</a>
                </div>
            </div>
        </nav>
    </div>
</section>

{% for script in html %}
<section class="section has-background-link-light">
{{ script }}
</section>
{% endfor %}
</h1>
{% endblock %}
